@font-face {
font-family: "Nervous";
src: url("Nervous.ttf");
}
@font-face {
font-family: "KeepCalm-Medium";
src: url("KeepCalm-Medium.ttf");
}
@font-face {
font-family: "robusta";
src: url("robusta.ttf");
}





body{
	background-color:black;
}

#body2{
	height: 120vh;
	width: 100vw;
	background-color: yellow;
	margin-top: 207.3em;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}


#page{
	/*border: 3px solid white;*/
	background-color: #f2eeee;
	width: 70vw;
	height: 444.6vh;
	height: 300vh;
	padding: 20px;
	padding-top: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
	font-size: 1.2em;
	font-family: "KeepCalm-Medium";

	position: absolute;
	left: 0;
	top: 0;
	right: -30px;
	bottom: 0;	
	padding-right: 15px;
	overflow-y: scroll;
}


#citro{
	position: absolute;
	margin-left: -40vw;
	margin-top: 5em;	
	transform: rotate(-30deg) scale(1.5);
}

#banane{
	position: absolute;
	margin-left: 110vw;
	margin-top: 30em;
	transform: rotate(105deg) scale(1.8);
}

#tournesol{
	position: absolute;
	margin-left: -40vw;
	margin-top: 65em;
	transform: scale(1.5);	
}

#poste{
	position: absolute;
	margin-left: 110vw;
	margin-top: 100em;
	transform: rotate(-5deg) scale(1.5);
}

#abeille{
	position: absolute;
	margin-left: -30em;
	margin-top: 135em;	
	transform: rotate(-20deg) scale(1.5) scaleX(-1);
}
#ananas{
	position: absolute;
	margin-left: 105em;
	margin-top: 155em;	
	transform: rotate(-15deg) scale(2);
}


#gilet{
	position: absolute;
	margin-left: -2em;
	margin-top: 200em;	
	transform: rotate(-8deg);
}
#etoile{
	position: absolute;
	margin-left: -40em;
	max-width:70%;
	margin-top: 204em;		
}

#balle{
	position: absolute;
	margin-left: -2em;
	margin-top: 260em;	
}

#toxique {
	position: relative;
	max-width: 40%;
	margin-left: 13.6em;
}



#angoisse {
	position: relative;
	max-width: 40%;
	margin-left: 14em;
}

#angoisse {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;

}

#moche{
	position: relative;
	max-width: 60%;
	margin-left: 8em;
}
#cocu{
	position: relative;
	max-width: 40%;
	margin-left: 14em;
}

#traitre{
	position: relative;
	max-width: 40%;
	margin-left: 14em;
}

#coquin{
	position: relative;
	max-width: 40%;
	margin-left: 13em;
}


#qui{
	position: absolute;
	margin-top: 0.5em;
	margin-left: 2.8em;
	font-size: 2em;
	color: white;
	font-family: "robusta";
	font-size: 9em;
}

#jaune{
	font-size: 20em;
	font-family: "robusta";
	text-align: center;
	text-align: top;
}


@keyframes shake {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}