@font-face {
font-family: "Nervous";
src: url("Nervous.ttf");
}
@font-face {
font-family: "KeepCalm-Medium";
src: url("KeepCalm-Medium.ttf");
}
@font-face {
font-family: "robusta";
src: url("robusta.ttf");
}

@font-face {
font-family: "Sansumi-Regular";
src: url("Sansumi-Regular.ttf");
}




body{
	background-color:black;
}

#body2{
	height: 120vh;
	width: 100vw;
	background-color: yellow;
	margin-top: 400em;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}


#page{
	/*border: 3px solid white;
	background-color: #f2eeee;*/
	width: 70vw;
	height: 700vh;
	padding: 20px;
	padding-top: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25em;
	font-size: 1.2em;
	font-family: "Sansumi-Regular";

	position: absolute;
	left: 0;
	top: 0;
	right: -30px;
	bottom: 0;	
	padding-right: 15px;
	overflow-y: hidden;
}


#citro{
	position: absolute;
	margin-left: -40vw;
	margin-top: 5em;	
	transform: rotate(-30deg) scale(1.5);
}

#banane{
	position: absolute;
	margin-left: 110vw;
	margin-top: 30em;
	transform: rotate(105deg) scale(1.8);
}

#tournesol{
	position: absolute;
	margin-left: -40vw;
	margin-top: 65em;
	transform: scale(1.5);	
}

#poste{
	position: absolute;
	margin-left: 110vw;
	margin-top: 100em;
	transform: rotate(-5deg) scale(1.5);
}

#abeille{
	position: absolute;
	margin-left: -30em;
	margin-top: 135em;	
	transform: rotate(-20deg) scale(1.5) scaleX(-1);
}
#ananas{
	position: absolute;
	margin-left: 105em;
	margin-top: 155em;	
	transform: rotate(-15deg) scale(2);
}


#gilet{
	position: absolute;
	margin-left: -2em;
	margin-top: 200em;	
	transform: rotate(-8deg);
}
#etoile{
	position: absolute;
	margin-left: -40em;
	max-width:70%;
	margin-top: 204em;		
}

#balle{
	position: absolute;
	margin-left: -2em;
	margin-top: 260em;	
}

#toxique {
	position: relative;
	max-width: 50%;
	margin-left: 58%;
}



#angoisse {
	position: relative;
	max-width: 50%;
	margin-left: -2em;
}

#angoisse {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 2px); }
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px); }
    60% { transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px); }
    100% { transform: translate(1px, -2px); }
}

#moche{
	position: relative;
	max-width: 60%;
	margin-left: -3.3em;
}
#cocu{
	position: relative;
	max-width: 50%;
	margin-left: 66%;
}

#cocu {
	animation: coucou 2s;
	animation-iteration-count: infinite;
}

@keyframes coucou {
	0% { transform: rotate(-45deg); }
	50% {transform: rotate(45deg);}
	100% {transform: rotate(-45deg);}
}
#traitre{
	position: relative;
	max-width: 60%;
	margin-left: -3.2em;
}

#coquin{
	position: relative;
	max-width: 50%;
	margin-left: 63%;
}


#qui{
	position: absolute;
	margin-top: 0.5em;
	margin-left: 45vw;
	font-size: 2em;
	color: white;
	font-family: "robusta";
	font-size: 9em;
}

#jaune{
	font-size: 20em;
	font-family: "robusta";
	text-align: center;
	text-align: top;
}


.box p {
	text-align: justify;
}


.flexx {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box {
	width:60%;
	margin-bottom: 250px;
	background-color: rgb(242,238,238, 0.7);
	padding: 25px;
	padding-top: 35px;
}

.box-black {
	width: 27%;
}

#cache {
	position: absolute;
	margin-left: 40vw;
	margin-top: 50vh;
	width: 120vw;
	height:550vh;
	background-color: black;
}



svg {
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group {
    transform: translate(42.5px, 42.5px);
}
path {
    transform: translate(-42.50px,-42.50px);
}
.large {
  opacity: 0;
	animation: large 2s linear infinite;
}
.large-2 {
  opacity: 0;
	animation: large-2 2s linear infinite;
}
.small {
  opacity: 0;
	animation: small 2s linear infinite;
}
@keyframes large {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	16.667% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
		transform: rotate(360deg) scale(1.5);
	}
  100% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
}
@keyframes large-2 {
	0% {
		opacity: 0;
		transform: rotate(45deg) scale(0);
	}
	16.667% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
		transform: rotate(405deg) scale(1.1);
	}
  100% {
		opacity: 0;
		transform: rotate(45deg) scale(0);
	}
}
@keyframes small {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	16.667% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
		transform: rotate(-360deg) scale(1.5);
	}
  100% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
}


.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

